20220816nodered.md
[{"id":"fd5af6e9f18321bb","type":"ibmiot in","z":"13ca8763410c8954","authentication":"apiKey","apiKey":"88a8cb130f1e2ab5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iot","applicationId":"","deviceType":"iot","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":1460,"wires":[["4a8cc0dc6e17e7d0","dde1963f4967e74e","cd3289fdbdea5183"]]},{"id":"4a8cc0dc6e17e7d0","type":"function","z":"13ca8763410c8954","name":"LIGHT","func":"if (msg.payload.d.LIGHT == undefined){\n    return null;\n}\nflow.set('LIGHT',msg.payload.d.LIGHT);\nmsg.payload=msg.payload.d.LIGHT;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1400,"wires":[["1f0c8d494fafe3e6","22800536d8549543"]]},{"id":"dde1963f4967e74e","type":"function","z":"13ca8763410c8954","name":"TEMP","func":"if (msg.payload.d.TEMP == undefined){\n    return null;\n}\nflow.set('TEMP',msg.payload.d.TEMP);\nmsg.payload=msg.payload.d.TEMP;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1460,"wires":[["da8911dfcf43a0fe","22800536d8549543"]]},{"id":"cd3289fdbdea5183","type":"function","z":"13ca8763410c8954","name":"HUMIDITY","func":"if (msg.payload.d.HUMIDITY == undefined){\n    return null;\n}\nflow.set('HUMIDITY',msg.payload.d.HUMIDITY);\nmsg.payload=msg.payload.d.HUMIDITY;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1520,"wires":[["a89089cb77389b15","22800536d8549543"]]},{"id":"da8911dfcf43a0fe","type":"ui_chart","z":"13ca8763410c8954","name":"","group":"98c8eb4c9a87eb38","order":3,"width":0,"height":0,"label":"TEMP CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":540,"y":1460,"wires":[[]]},{"id":"a89089cb77389b15","type":"ui_chart","z":"13ca8763410c8954","name":"","group":"98c8eb4c9a87eb38","order":4,"width":0,"height":0,"label":"HUMIDITY CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":1520,"wires":[[]]},{"id":"1f0c8d494fafe3e6","type":"ui_chart","z":"13ca8763410c8954","name":"","group":"98c8eb4c9a87eb38","order":2,"width":0,"height":0,"label":"LIGHT CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":540,"y":1400,"wires":[[]]},{"id":"22800536d8549543","type":"debug","z":"13ca8763410c8954","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1620,"wires":[]},{"id":"88a8cb130f1e2ab5","type":"ibmiot","name":"20220706 testkey","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"98c8eb4c9a87eb38","type":"ui_group","name":"sensors","tab":"8c6f8c40e3a4abdb","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c6f8c40e3a4abdb","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
